@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'variables';

#root {
  background-color: $favColor;
  height: 100vh;
}

body {
  background-color:$favColor;
  font-family: 'Montserrat', sans-serif;
}

// Homw page
.home {
  background-color: $favColor;
  height: 83vh;
  width: 99vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-content: space-evenly;
}

.homeCard.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  height: 100%;
  border: 1px #688592 solid;
  background-color: #c3cdd2;
  padding: 0;
}

.linkPreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1%;
  height: 75%;
}

.japaneseComment {
  width: 80%;
  font-size: 1.1rem;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.errorImg {
  height: 30%;
}

// home buttons
#goodResourceBtn {
  background-color: #fff3d4;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid #dbca9c;
  color: #222;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#goodResourceBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid #dbca9c;
}

#goodReadBtn {
  background-color: #a0c1ae;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid #4c8b67;
  color: #222;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#goodReadBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid #4c8b67;
}

#goodTutorialBtn {
  background-color: #ffddd4;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid #be879c;
  color: #222;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#goodTutorialBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid #be879c;
}

#randomJapaneseBtn {
  background-color: #a0a3bb;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid #777c9f;
  color: #222;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#randomJapaneseBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid #777c9f;
}

// Title
.randomCardTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30%;
}

.cardTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: #1c3b51;
  text-decoration: underline;
}

p.cardTitleLink {
  color: #1c3b51;
  text-decoration: underline;
}
.profileImage {
  width: 60px;
  border-radius: 50%;
  object-fit: fill;
}

.welcomeText {
  font-size: 1.5rem;
}

.displayName {
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

#titleBookmark {
  color: #71A289;
  margin: 1% 2%;
}

.openCardEditDelete {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

// Button

#signInOutBtn {
  background-color: #9b8543;
  border: 1px solid #021523;
}

#signInOutBtn:hover {
  background-color: #bda867;
}

#submitBtn {
  background-color: #ffecd5;
  border: 1px solid #505480;
  color: #505480;
  font-weight: bold;
  width: 25%;
}

#submitBtn:hover {
  background-color: #dbbf9d;
}

#submitJapaneseBtn {
  background-color: #ffecd5;
  border: 1px solid #505480;
  color: #505480;
  font-weight: bold;
  width: 25%;
}

#submitJapaneseBtn:hover {
  background-color: #dbbf9d;
}

#editJapaneseBtn {
  background-color: #fff3d4;
  color: #000000;
}

#editJapaneseBtn:hover {
  background-color: #e7d4A1;
}

#deleteJapaneseBtn {
  background-color: #ffddd4;
  color: #000000;
}

#deleteJapaneseBtn:hover {
  background-color: #e7b0a1;
}

#appropriateBtn {
  background-color: #fff3d4;
  color: #000000;
}

#appropriateBtn:hover {
  background-color: #e7d4A1;
}

#notAppropriateBtn {
  background-color: #ffddd4;
  color: #000000;
}

#notAppropriateBtn:hover {
  background-color: #e7b0a1;
}

#submitPersonalCategoryBtn {
  background-color: #ffecd5;
  border: 1px solid #505480;
  color: #505480;
  font-weight: bold;
  width: 25%;
}

#submitPersonalCategoryBtn:hover {
  background-color: #dbbf9d;
}

#submitBookmarkBtn {
  background-color: #ffecd5;
  border: 1px solid #505480;
  color: #505480;
  font-weight: bold;
  width: 30%;
  font-size: 0.9rem;
}

#submitBookmarkBtn:hover {
  background-color: #dbbf9d;
}

#cardEditBtn {
  background-color: #fff3d4;
  color: #000000;
}

#cardEditBtn:hover {
  background-color: #e7d4A1;
}

#cardDeleteBtn {
  background-color: #ffddd4;
  color: #000000;
}

#cardDeleteBtn:hover {
  background-color: #e7b0a1;
}

#searchBtn {
  background-color: #d5e9c1;
  color: #000000;
  border: 1px solid #000000;
}

#searchBtn:hover {
  background-color: #b1cf92;
}

.submitBtnContainer {
  display: flex;
  justify-content: flex-end;
}

#categoryDeleteBtn {
  background-color: #f0dee5;
  border: 1px solid #000000;
  color: #000000;
}

#categoryDeleteBtn:hover {
  background-color: #cc8ea6;
}

#publicCategoryDeleteBtn {
  background-color: #f0dee5;
  border: 1px solid #000000;
  color: #000000;
}

#publicCategoryDeleteBtn:hover {
  background-color: #cc8ea6;
}

#reportBtn {
  background-color: transparent;
  outline: none;
  border: none;
  color: #cf7966;
}

button.bookmarkbtn {
  background-color: transparent;
  outline: none;
  border: none;
  color: #71A289; 
}

button.bookmarkbtn:hover {
  color:#4b8869;
}
// NAVBAR 
a.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #eff4ed;
}

a.navbar-brand:hover {
  color: #94A5b0;
}

span.navbar-text {
  margin-left: 0.5rem;
  color: #eff4ed;
}

a.nav-link {
  color: #eff4ed;
}

a.nav-link:hover {
  color: #94A5b0;
}

li.nav-item {
  display: flex;
  align-items: center;
}

.fa-hamburger {
  color: white;
}

.fa-window-close {
  color: #fff
}

// CARD
div.card {
  width: 100%;
  padding: 2%;
  border: none;
  display: flex;
  justify-content: center;
}

.publicCard {
  background-color: #c3cdd2;
  border-radius: 5%;
  padding: 2%;
}

// FORM
#form {
  background-color: #cadad2;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

#personalForm {
  background-color: #cadad2;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

#bookmarkForm {
  background-color: #cadad2;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

#personalForm {
  background-color: #cadad2;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

#adminForm {
  background-color: #cadad2;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

#addJapanese {
  background-color: #cadad2;
  padding: 1%;
  width: 100%;
}

.categoryTable {
  background-color: #cadad2;
  text-align: center;
  font-size: 1.1rem;
}

// Admin 
.adminPage {
  background-color: $favColor;
}

.adminCategory {
  display: grid;
  grid-template-columns: 50% 50%;
}
.userCards.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c3cdd2;
  border: 2px solid #212529;
}

.reportedCards.card {
  background-color: #c3cdd2;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5%;
}

.categoryCreateForm {
  width: 100%;
}

img.japaneseCardsImage {
  width: 200px;
}

.wordTitle {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2rem;
}

.adminJapaneseCards {
  display: flex;
  flex-wrap: wrap;
}

div#japaneseCards {
  max-width: 33%;
  background-color: #c3cdd2;
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#adminPage {
  margin: 3%;
  display: flex;
  flex-direction: column;
}

#adminUserCards {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#likedBtn {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fdfd96;
}

#unLikedBtn {
  background-color: transparent;
  border: none;
  color: #93a6af;
}

#unLikedBtn:hover {
  color: #fdfd96;
  outline: none;
}


.starAndCount {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.japaneseImage {
  object-fit: cover;
  height: 60%;
}

img.japaneseImage.card-img {
  width: 80%;
}

@media screen and (max-width: 1000px) {
  .home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-gap: 1%;
    max-width: 98%;
    align-items: center;
    justify-content: space-evenly;
  }
  div.individualCardStyle {
    max-width: 90%;
    padding: 1%;
  }
  #reportedCardsContainer {
    max-width: 50%;
  }
  div.cardStyle {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #adminUserCards {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }
  div#japaneseCards {
    max-width: 50%;
  } 
}
@media screen and (max-width: 560px) {
  div.individualCardStyle {
    display: grid;
    grid-template-columns: 1fr;
  }
  #reportedCardsContainer {
    max-width: 100%;
  }
  .navLinkStyle {
    display: flex;
    flex-direction: column;
  }
  header.title {
    font-size: 1.6rem;
  }
  .randomCardTitle {
    font-size: 1.5rem;
  }
  div.cardStyle {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 1%;
    text-align: center;
  }
  .publicCard {
    max-width: 380px;
    height: auto;
  }
  .openPersonalTitle {
    font-size: 1.8rem;
  }
  #formSearchContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3%;
  }
  .searchContainer {
    width: 93%;
  }
  #searchBtn {
    width: 50px;
  }
  .categoryCreateForm {
    width: 100%;
  }
  #adminUserCards {
    grid-template-columns: 1fr;
  }
  div#japaneseCards {
    max-width: 100%;
  }
  .adminCategory {
    grid-template-columns: 1fr;
  }

}
