@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'variables';

#root {
  background-color: $favColor;
  height: 100vh;
}

body {
  background-color:$favColor;
  font-family: 'Montserrat', sans-serif;
}

// Homw page
.home {
  background-color: $favColor;
  height: 83vh;
  width: 99vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-content: space-evenly;
}

.homeCard.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  height: 100%;
  border: 1px #688592 solid;
  background-color: #c3cdd2;
  padding: 0;
}

.linkPreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1%;
  height: 75%;
}

.japaneseComment {
  width: 80%;
  font-size: 1.1rem;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.errorImg {
  height: 30%;
}

// home buttons
#goodResourceBtn {
  background-color: #f7ba0b;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid orange;
  color: #fff;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#goodResourceBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid orange;
}

#goodReadBtn {
  background-color: #007243;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid #006400;
  color: #fff;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#goodReadBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid green;
}

#goodTutorialBtn {
  background-color: #E60012;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid darkred;
  color: white;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#goodTutorialBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid darkred;
}

#randomJapaneseBtn {
  background-color: #0000FF;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid #00004c;
  color: white;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#randomJapaneseBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid blue;
}

// Title
.randomCardTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.cardTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: underline;
}

.profileImage {
  width: 60px;
  border-radius: 50%;
  object-fit: fill;
}

.welcomeText {
  font-size: 1.5rem;
}

.displayName {
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

#titleBookmark {
  color: #71A289;
  margin: 1% 2%;
}

// Button
#signInOutBtn {
  background-color: #9b8543;
  border: 1px solid #021523;
}

#signInOutBtn:hover {
  background-color: #bda867;
}

#submitBtn {
  background-color: #ffecd5;
  border: 1px solid #505480;
  color: #505480;
  font-weight: bold;
  width: 20%;
}

#submitBtn:hover {
  background-color: #dbbf9d;
}

#cardEditBtn {
  background-color: #fff3d4;
  color: #000000;
}

#cardEditBtn:hover {
  background-color: #e7d4A1;
}

#cardDeleteBtn {
  background-color: #ffddd4;
  color: #000000;
}

#cardDeleteBtn:hover {
  background-color: #e7b0a1;
}

#searchBtn {
  background-color: #d5e9c1;
  color: #000000;
  border: 1px solid #000000;
}

#searchBtn:hover {
  background-color: #b1cf92;
}

.submitBtnContainer {
  display: flex;
  justify-content: flex-end;
}

#categoryDeleteBtn {
  background-color: #f0dee5;
  border: 1px solid #000000;
  color: #000000;
}

#categoryDeleteBtn:hover {
  background-color: #cc8ea6;
}

#reportBtn {
  background-color: #f7b0a1;
}

#reportBtn:hover {
  background-color: #cf7966;
}

button.bookmarkbtn.btn.btn-secondary {
  background-color: transparent;
  color: green;
}

button.bookmarkbtn.btn.btn-secondary:hover {
  background-color: green;
  color: white;
}
// NAVBAR 
a.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #eff4ed;
}

a.navbar-brand:hover {
  color: #94A5b0;
}

span.navbar-text {
  margin-left: 0.5rem;
  color: #eff4ed;
}

a.nav-link {
  color: #eff4ed;
}

a.nav-link:hover {
  color: #94A5b0;
}

li.nav-item {
  display: flex;
  align-items: center;
}

.fa-hamburger {
  color: white;
}

.fa-window-close {
  color: #fff
}

// CARD
div.card {
  width: 100%;
  padding: 2%;
  border: none;
  display: flex;
  justify-content: center;
}

.publicCard {
  background-color: #c3cdd2;
  border-radius: 5%;
  padding: 2%;
}

// FORM
#form {
  background-color: #cadad2;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.categoryTable {
  background-color: #cadad2;
  text-align: center;
  font-size: 1.1rem;
}

// Admin 
.userCards.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cad1c9;
  border: 2px solid #212529;
}

.categoryCreateForm {
  width: 50%;
  margin: 2%;
}

#adminPage {
  margin: 3%;
  display: flex;
  flex-direction: column;
}

#adminUserCards {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#likedBtn {
  background-color: #e7d4a1;
  border: none;
}

#unLikedBtn {
  background-color: transparent;
  color: #fff;
}

#unLikedBtn:hover {
  background-color: #e7d4a1;
}

.japaneseImage {
  object-fit: cover;
  height: 60%;
}

img.japaneseImage.card-img {
  width: 80%;
}

@media screen and (max-width: 1000px) {
  .home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    max-width: 98%;
    align-items: center;
    justify-content: space-evenly;
  }
  div.individualCardStyle {
    max-width: 90%;
    padding: 1%;
  }
  div.cardStyle {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #adminUserCards {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 560px) {
  div.individualCardStyle {
    display: grid;
    grid-template-columns: 1fr;
  }
  .navLinkStyle {
    display: flex;
    flex-direction: column;
  }
  header.title {
    font-size: 1.6rem;
  }
  .randomCardTitle {
    font-size: 1.5rem;
  }
  div.cardStyle {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 1%;
    text-align: center;
  }
  .publicCard {
    max-width: 380px;
    height: auto;
  }
  .openPersonalTitle {
    font-size: 1.8rem;
  }
  #formSearchContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3%;
  }
  .searchContainer {
    width: 93%;
  }
  #searchBtn {
    width: 50px;
  }
  .categoryCreateForm {
    width: 100%;
  }
  #adminUserCards {
    grid-template-columns: 1fr;
  }
}
