@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'variables';

#root {
  background-color: #eff4ed;
  height: 100vh;
}

body {
  background-color: #eff4ed;
  font-family: 'Montserrat', sans-serif;
}

// Homw page
.home {
  background-color: #eff4ed;
  height: 83vh;
  width: 99vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-content: space-evenly;
}

.homeCard.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  height: 100%;
  border: 2px black solid;
}

// home buttons
#goodResourceBtn {
  background-color: #f7ba0b;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid orange;
  color: #fff;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#goodResourceBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid orange;
}

#goodReadBtn {
  background-color: #007243;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid #006400;
  color: #fff;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#goodReadBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid green;
}

#goodTutorialBtn {
  background-color: #E60012;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid darkred;
  color: white;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#goodTutorialBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid darkred;
}

#randomJapaneseBtn {
  background-color: #0000FF;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid #00004c;
  color: white;
  font-weight: bold;
  border-radius: 100vh;
  width: 220px;
}

#randomJapaneseBtn:hover {
  margin-top: 3px;
  border-bottom: 2px solid blue;
}


.randomCardTitle {
  font-size: 2rem;
  font-weight: bold;
}

.cardTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
}
.profileImage {
  width: 60px;
  border-radius: 50%;
  object-fit: fill;
}

.welcomeText {
  font-size: 1.5rem;
}

.displayName {
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

button.bookmarkbtn.btn.btn-secondary {
  background-color: transparent;
  color: green;
}

button.bookmarkbtn.btn.btn-secondary:hover {
  background-color: green;
  color: white;
}
// NAVBAR 
a.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #eff4ed;
}

a.navbar-brand:hover {
  color: #A4d1a2;
}

span.navbar-text {
  margin-left: 0.5rem;
  color: #eff4ed;
}

a.nav-link {
  color: #eff4ed;
}

a.nav-link:hover {
  color: #a4d1a2;
}

li.nav-item {
  display: flex;
  align-items: center;
}

.fa-hamburger {
  color: white;
}

// CARD
div.card {
  width: 100%;
  padding: 2%;
  border: none;
  display: flex;
  justify-content: center;
}

.personalCard {
  background-color: #bcf5bc;
  border-radius: 5%;
  padding: 2%;
}

// FORM
#form {
  background-color: #cad1c9;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

// Admin 
.userCards.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cad1c9;
  border: 2px solid #212529;
  max-width: 90%;
}

#likedBtn {
  background-color:yellow;
  border: none;
}

#unLikedBtn {
  background-color: gray;
}

.japaneseImage {
  object-fit: cover;
  height: 200px;
}

@media screen and (max-width: 1000px) {
  .home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    max-width: 98%;
    align-items: center;
    justify-content: space-evenly;
  }
  div.individualCardStyle {
    max-width: 45%;
  }
}
@media screen and (max-width: 550px) {
  div.individualCardStyle {
    max-width: 90%;
  }
}
